<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="cfd3c61f-d375-489c-af5d-1c0239c6c425" Publisher="CN=5d9b85dd-c335-47f0-82be-6eeda3b62873" Version="0.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="ec0cc741-fd3e-485c-81be-68815c480690" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>YDB.UWP</DisplayName>
    <PublisherDisplayName>5d9b85dd-c335-47f0-82be-6eeda3b62873</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="YDB.UWP.App">
      <uap:VisualElements DisplayName="YDB.UWP" Square150x150Logo="Assets\uwpPackageLogo\logo600.png" Square44x44Logo="Assets\uwpPackageLogo\logo176.png" Description="YDB.UWP" BackgroundColor="transparent">
        <uap:DefaultTile Square71x71Logo="Assets\uwpPackageLogo\logo.png" Square310x310Logo="Assets\uwpPackageLogo\logo1240.png" Wide310x150Logo="Assets\uwpPackageLogo\logo1240x600.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>